# Visual Studio
.vs/
*.vcxproj.user
*.suo
*.user
*.aps
*.ncb
*.opendb
*.cachefile

# Build output
x64/
x86/
Debug/
Release/
*.obj
*.pdb
*.idb
*.ipch
*.log

# CMake (if you ever use it)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Misc
*.exe
*.tmp
*.bak
